@import "../../styles/base.scss";

.container {
  position: absolute;
  top: 80px;
  left: 45%;
  padding: 10px 30px;
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  //   background-color: lime;
  z-index: 10;
}
